body{
    font-family:Helvetica, sans-serif;
}
h1{
    font-size:2em!important;
    margin-bottom:30px!important;
}
p{
    margin-bottom:5px!important;
}
.img-center{
    display:block;
    margin:0 auto;
}
.mrg-top-50{
    margin-top:50px;
    margin-bottom:50px;
}
input{
    height:40px;
    border-radius:0!important;
}
.text-left{
    margin-top:20px;
    height:40px;
}
button{
    border-radius:0!important;
}
.btn-success{
    background: rgb(16, 180, 16)!important;
}
.container{
    width:1000px!important;
}
@media screen and (max-width:576px){
    .container{
        width:100%!important;
    }
}
@media screen and (min-width:577px) and (max-width:767px){
    .container{
        width:650px!important;
    }
}
@media screen and (min-width:768px) and (max-width:1199px){
    .container{
        width:900px!important;
    }
}