body{
    font-family:Helvetica, sans-serif;
}
h1{
    font-size:2em!important;
    margin-bottom:30px!important;
}
p{
    margin-bottom:5px!important;
}
.img-center{
    display:block;
    margin:0 auto;
}
.mrg-top-50{
    margin-top:50px;
    margin-bottom:50px;
}
input{
    height:40px;
    border-radius:0!important;
}
.text-left{
    margin-top:20px;
    height:40px;
}
button{
    border-radius:0!important;
}
.btn-success{
    background: rgb(16, 180, 16)!important;
}
.right-20{
    position:absolute;
    right: 40px;
    transition-duration: 1s;
}
button:hover > .right-20{
    right:30px;
    transition-duration: 1s;
}
.footer {
    font-size:0.9em;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #262626;
    color:white;
}
.footer a{
    font-size:0.9em;
    color:white;
    border-right:1px solid white;
    padding-right:30px;
}
.border-none{
    border:none!important;
}
.footer a:hover{
    color:white;
    text-decoration: none;
}
.height-60{
    height:60px;
}
/*--------------------------------------MEDIA QUERIE MAX 576----------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 576px){
    .height-f{
        height:30px;
        line-height:30px;
        text-align:right;
    }
    .footer a{
        font-size:0.9em;
        color:white;
        border-right:none;
        padding-right:0;
    }
}
/*-------------------------------MEDIA QUERIE MIN 577 MAX 767----------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
@media screen and (min-width:577px) and (max-width: 767px){
    .height-f{
        height:30px;
        line-height:30px;
        text-align:right;
    }
    .footer a{
        font-size:0.9em;
        color:white;
        border-right:none;
        padding-right:0;
    }
}
/*-------------------------------MEDIA QUERIE MIN 768 MAX 1199----------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width: 1199px){
    .footer a{
        font-size:0.9em;
        color:white;
        border-right:1px solid white;
        padding-right:15px;
    }
    .padding-0{
        padding:0!important;
    }
}