

.btn-connect {   
    color:rgb(37, 37, 37) !important;
    text-align: right !important;
    text-transform: uppercase !important;
}

.padding-section {
    padding-left: 120px !important;
    padding-top: 120px !important;
    padding-bottom: 120px !important;
}
