/*------------------CSS CAROUSEL-------------------------------------------------------------------------------------*/
.green-test{
    background: lawngreen;
}*/
.carousel-item img{
    max-width:300px;
    height: auto;
}
.margin-l-20{
    margin-left:10%;
}
h2{
    color:rgb(37, 37, 37) !important;
    text-align: left !important;
    font-size: 3em !important;
    font-weight: bold !important;
    width: 100%;
    
}
/*.carousel-caption{              CSS DE BOOTSTRAP
    position:absolute;
    right:15%;
    bottom:20px;
    left:15%;
    z-index:10;
    padding-top:20px;
    padding-bottom:20px;
    color:#fff;
    text-align:center;
}*/

.carousel-caption{
    top: 20px !important;
    bottom:auto !important;
    width:40% !important;
}
.carousel-control-next{
    width:25% !important;
}
.carousel-item{
    width: 90% !important;
}
.carousel-control-next-icon{
    background-color:green !important;
}
.padding-top-70{
    padding-top:70px;
}
.padding-bottom-70{
    padding-bottom: 70px;
}
.carousel-indicators li {
    border-radius: 13px;
    width: 13px !important;
    height: 13px !important;
    background-color: rgb(218, 218, 218);
    border:2px solid green;
/*------------------CSS HEADER--s-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
body, p, h1, h2, h3, h4, h5, a, imput, placeholder{
    font-family: helvetica;
}

.shadow-bottom{
    box-shadow:  0 5px 100px rgb(218, 218, 218);
}
.navbar{
    width: 100%;
}
.row{
    min-height:70px;
}
.btn-full{
    width:100%;
}
.halfh-8{
    height:80%;
}
.halfh-2{
    height:20%;
}
h1{
    font-size:4em !important;
    font-weight: bold !important;
}